.App {
  padding: 10vh;
  text-align: center;
  background-color: #282c34;
  min-height: 80vh;
}
.Search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paperContainer {
  padding: 10px;
}

.tableContainer {
  width: 700px;
}
